.hr {
  /* border: 1px solid green; */
  width: 100%;
  background-color: gray;
  height: 20px;
}


.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
  /* border: 1px solid red; */
}

.navbar li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.buttons {
  background-color: #e50914;
  padding: 10px 50px;
  margin-right: 20px;
  color: white;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  outline: none;
  border: none;

}

#link {
  color: white;
}

.main {
  width: 100%;
  margin-top: -100px;
  /* border: 1px solid red ; */

  background-size: cover;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-position: center;
  min-height: 710px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../netflix_background\ image.jpg');
}

.area {
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;


}

.area h2 {
  font-size: 60px;
  word-spacing: 15px;
  line-height: 65px;
  /* border: 1px solid red ; */
  margin-bottom: 40px;
  display: inline-block;

}

.area h3 {
  margin-top: -30px;
  font-size: 27px;
  font-weight: normal;
}

.search {
  width: 50%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
  /* border: 2px solid red; */
  gap: 6px;
}

.box {
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid gray;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
}

input[type='email']::placeholder {
  padding: 3px;
}


.try {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e50914;
  /* border: 2px solid green; */
  cursor: pointer;
  min-height: 50px;
  border-radius: 5px;
  gap: 8px;
  width: 70%;
  font-size: 30px;
  outline: none;
  color: white;
  font-size: 20px;
  border: none;
  /* text-transform: uppercase; */
}

.area h4 {
  margin-top: 10px;
  font-weight: normal;
}

.container1 {
  width: 100vw;
  min-height: 460px;
  background-color: black;
  /* border: 1px solid red ; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.container1 img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;
  object-position: center;
  align-self: center;

  max-width: 100%;
  height: 350px;
}

.container1 .image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  object-fit: contain;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
}

.text p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.text h1 {
  font-size: 3.125rem;
}

.container2 {
  width: 100vw;
  min-height: 460px;
  background-color: black;
  /* border: 1px solid red ; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.container2 img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;
  object-position: center;
  align-self: center;

  max-width: 100%;
  height: 350px;
}

.container2 .image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  object-fit: contain;
}

.text2 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
}

.text2 p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.text2 h1 {
  font-size: 3.125rem;
}

.container3 {
  width: 100vw;
  min-height: 460px;
  background-color: black;
  /* border: 1px solid red ; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.container3 img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;
  object-position: center;
  align-self: center;

  max-width: 100%;
  height: 350px;
}

.container3 .image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  object-fit: contain;
}

.text3 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
}

.text3 p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.tex3t h1 {
  font-size: 3.125rem;
}

.question {
  width: 100%;
  min-height: 950px;
  background-color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  /* border: 1px solid red ; */
}

.question h1 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quest {
  width: 51%;
  min-height: 75px;
  background-color: #303030;
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: left;
  flex-direction: row;
  margin: 5px 0;
}

.quest .textbox {
  display: flex;
  text-align: left;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  font-size: 25px;
  margin: 0 30px;
  word-spacing: 5px;
  text-align: left;
}

.la-plus {
  margin: 0 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}



.search1 {
  width: 50%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

.box1 {
  width: 100%;
  min-height: 65px;
}

.try1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e50914;
  min-height: 70px;
  width: 70%;
  color: white;
  font-size: 30px;
  margin: 50px 0;
  text-transform: uppercase;
}

.question h4 {
  color: white;
  margin-top: -20px;
  padding-bottom: 40px;
  margin-top: 10px;
}

.footerhome {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 375px;
  background-color: black;
  margin-top: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  opacity: 0.4;
  /* border: 1px solid red ; */

}

.footercon {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  background-color: transparent;
  background-color: #000;

}

.footer .flex1 {
  /* color:#999;; */
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 17px;
  min-height: 30px;

}

.footer .flex1 h5 {
  align-self: flex-start;
}

.list1 {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  align-self: center;
  justify-content: center;
  min-height: 50px;
  font-size: 13px;
  padding: 0px 70px;
  text-align: left;
}

.list1 li {
  font-size: 13px;
  margin: 7px -10px;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: center;
  align-self: flex-start;
  justify-content: center;
}

.list1 li a {
  color: gray;
  text-decoration: none;
  font-size: 14px;
}

li a {
  font-size: 13px;
  text-align: center;
  color: #999;
}


.footertxt {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}


@media (max-width: 321px) {
  .main {

    flex-direction: column;
    overflow-x: hidden;
     justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
     margin-top: 20px;
  }

 
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .area h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .area h3 {
    margin-top: 10px;
    font-size: 20px;
  }

  .area h2 {
    font-size: 25px;
    word-spacing: normal;

  }

  .container1 img {
    width: 60%;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
     /* margin-top: 20px; */
     /* border: 1px solid red; */
  }

 
  .text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .text2 h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text2 p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .area2 h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .area2 h3 {
    margin-top: 10px;
  }

  .area2 h2 {
    font-size: 45px;

  }

  .container2 img {
    width: 60%;
  }

  .container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
     margin-top: 20px;
  }

 
  .text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text3 h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text3 p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  

  .area3 h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .area3 h3 {
    margin-top: 10px;
  }

  .area3 h2 {
    font-size: 45px;

  }

  .container3 img {
    width: 60%;
  }

  .navbar {
   
   /* border: 1px solid red; */
   display: flex;
   flex-direction:row;
 
 justify-self: center;
 justify-content: center;

  }
  .navbar> .buttons{
    margin-right: 40px;
   width: 120px;
   padding: 10px 35px;

  }
.navbar> .buttons > a{
 display: inline;
 /* border: 1px solid black; */
 white-space: nowrap;
 font-size: 15px;

}
  .logo {
   
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */

  }

  .logo>img {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }



  .search {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    margin: 30px;
  }

  .try {
    width: 200px;
    margin: 0 10px;
    font-size: 17px;
    min-height: 50px;

  }

  .search1 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
    margin-bottom: 40px;
  }

  h4 {
    color: white;
  }

  .box1 {
    width: 100%;
    margin-bottom: 20px;
    margin: 30px;
  }

  .try1 {
    width: 200px;
    margin: 0 10px;
    font-size: 17px;
    min-height: 50px;
  }


  .quest .textbox {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest {
    width: 80%;
    min-height: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
}